@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 39 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 289 29% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 39 100% 50%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 216 22% 17%;
    --foreground: 210 40% 98%;
    --card: 216 22% 21%;
    --card-foreground: 210 40% 98%;
    --popover: 216 22% 17%;
    --popover-foreground: 210 40% 98%;
    --primary: 39 100% 50%;
    --primary-foreground: 39 100% 10%;
    --secondary: 216 22% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 216 22% 25%;
    --muted-foreground: 215 20% 65%;
    --accent: 289 29% 63%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 216 22% 30%;
    --input: 216 22% 30%;
    --ring: 39 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
